body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:"https://wallpapers.com/wallpapers/creative-anya-forger-fan-art-69wbgv3cdqz7so7j.html" ;
}

.App {
  text-align: center;
}

